ul {
  list-style: none;
  font-weight: 400;
  text-align: left;
  width: 150px;
  height: 90vh;
  color: #aba4a5;
  position: fixed;
  top: 20px;
  overflow-y: scroll;
  z-index: 1;
  font-size: 1rem;
}

a {
  margin: 0 20;
  padding: 6;
  color: #aba4a5;
}

a:link,
a:visited {
  border-bottom: 1px solid #929292;
  display: block;
  text-decoration: none;
}

a:hover {
  color: #eddfe2;
  border-bottom: 1px solid #eddfe2;
  transition: all 0.2s ease-in-out;
}

a:active, .active {
  color: #f5d8de;
  font-weight: 700;
  font-style: oblique;
}

ul::-webkit-scrollbar { 
  display: none; 
}