/* html,
body {
  height: 100%;
  overflow-x: hidden;
} */

#block-14 {
  width: 2000px;
  background: linear-gradient(to left, #eeeeee 0%,#B7EAE0 100%);
  background-size: 210% auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: -1;
  
}

body::-webkit-scrollbar { 
    display: none; 
  }

#navbar {
    position: relative;
    z-index: 1;
}